* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

h1 {
    text-align: center;
    padding: 20px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
    z-index: 1;
    gap: 10vh;
    align-items: center;
    justify-content: center;
}

.pin {
    max-width: 20vw;
}

figure {
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    background: white;
    padding: 20px;
}

#installButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008fee;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#installButton:hover {
    background-color: #005bb5;
}

#installButton:focus {
    outline: 2px solid #fff;
}

#copyright {
    position: fixed;
    width: 100vw;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
